@import "tailwindcss";



@theme {
  --breakpoint-*: initial;
  --breakpoint-ms: 350px;
  --breakpoint-mm: 390px;
  --breakpoint-ml: 410px;
  --breakpoint-mxl: 430px;
  --breakpoint-ts: 700px;
  --breakpoint-tm: 850px;
  --breakpoint-tl: 1000px;
  --breakpoint-txl: 1100px;
  --breakpoint-ls: 1200px;
  --breakpoint-lm: 1400px;
  --breakpoint-ll: 1500px;
  --breakpoint-lxl: 1750px;
}


@layer utilities {
  .navShadow {
    box-shadow: 0px 2px 40px 5px #22222252;
  }

   .formShadow {
    box-shadow: 2px 0px 30px 2px #d0cfcfcc;
  }
}