@import "tailwindcss";


@theme {
  --breakpoint-*: initial;
  --breakpoint-ms: 350px;
  --breakpoint-mm: 390px;
  --breakpoint-ml: 410px;
  --breakpoint-mxl: 430px;
  --breakpoint-ls: 1200px;
  --breakpoint-lm: 1400px;
  --breakpoint-ll: 1500px;
  --breakpoint-lxl: 1750px;
}
